<h2 class="gift-title">
  {{ weddingTypes[cwi] }}
</h2>

<div class="example-container mat-elevation-z8"
  (swipeleft)="swipeTable($event.type)"
  (swiperight)="swipeTable($event.type)">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role / Who</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div>
          Role:
          <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
            <input matInput [readonly]="!row.editing" placeholder="role" [(ngModel)]="row.currentData.role">
          </mat-form-field>
        </div> 
        <div>
          Who:
          <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
            <input matInput [readonly]="!row.editing" placeholder="who" [(ngModel)]="row.currentData.who">
          </mat-form-field>
        </div>
        
      </mat-cell>
    </ng-container>

    <!-- Who Column -->
    <!-- <ng-container matColumnDef="who">
      <mat-header-cell *matHeaderCellDef> Who </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
          <input matInput 
            [readonly]="!row.editing" 
            placeholder="who" 
            [(ngModel)]="row.currentData.who">
        </mat-form-field>
      </mat-cell>
    </ng-container> -->

    <!-- Gift Name Column -->
    <ng-container matColumnDef="giftName">
      <mat-header-cell *matHeaderCellDef> Gift Purchased </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
          <input matInput [readonly]="!row.editing" placeholder="Gift Purchased" [(ngModel)]="row.currentData.giftName">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount($) </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
          <input matInput [readonly]="!row.editing" placeholder="Amount" [(ngModel)]="row.currentData.amount">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-header">  
        <button mat-icon-button color="accent" (click)="createNew()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="action-cell">
        <button mat-icon-button color="accent" *ngIf="!row.editing" focusable="false" (click)="startEdit(row)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <!-- <button mat-icon-button color="accent" *ngIf="row.editing" 
          focusable="false" (click)=" confirmEditCreate(row)">
          <mat-icon>check</mat-icon>
        </button> -->
        <button mat-icon-button color="accent" (click)="openDeleteConfirmDialog(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
