<div class="example-container mat-elevation-z8"
  (swipeleft)="swipeTable($event.type)"
  (swiperight)="swipeTable($event.type)">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="giftPurchased" *ngIf="isShowLeft">
      <mat-header-cell *matHeaderCellDef> Gift Purchased </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.giftPurchased}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="amount" *ngIf="isShowRight">
      <mat-header-cell *matHeaderCellDef> Amount($) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position" *ngIf="isShowRight">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
