<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="">
    <a routerLink="/"><mat-icon class="nav-icon">home</mat-icon></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/gifts">Gifts</a></li>
      <li *ngIf="isAuth$ | async"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
